$black: #000;
$white: #fff;

// malishu Custom Scrollbar variable
$scroll-dragger-bar-color: blue;
$scroll-dragger-bar-width: 3px;
$scroll-dragger-bar-radius: 0px;
$scroll-dragger-rail-color: #ccc;
$scroll-dragger-rail-width: 3px;
$scroll-dragger-rail-radius: 0px;